[2021-03-31 10:57] cedro3 opened #1 "How do I get 'mesh_downsampling.npz' ?"
How do I get 'mesh_downsampling.npz' ?

[2021-03-31 11:44] HongwenZhang commented on #1
Hi, sorry about the missing file.
Now, we can fetch `mesh_downsampling.npz` by running `bash fetch_data.sh` or running the script below:
`wget https://github.com/nkolot/GraphCMR/raw/master/data/mesh_downsampling.npz -O data/mesh_downsampling.npz`.

[2021-03-31 12:43] cedro3 commented on #1
Thank you for your quick response! I was able to download the file. This issue has been solved.

[2021-03-31 13:25] cedro3 opened #2 "Are you planning to make a google colab version?"
Are you planning to make a google colab version?

[2021-04-01 01:52] cedro3 opened #3 "Confirmation about necessary files"
'Collect SMPL model files from https://smpl.is.tue.mpg.de and UP. Rename model files' means below ?

download `SMPL_Python_v1.1.0.zip`
    basicmodel_f_lbs_10_207_0_v1.1.0.pkl > SMPL_FEMALE.pkl
    basicmodel_m_lbs_10_207_0_v1.1.0.pkl > SMPL_MALE.pkl

download `basicModel_neutral_lbs_10_207_0_v1.0.0.pkl` > SMPL_NEUTRAL.pkl

[2021-04-01 05:45] HongwenZhang commented on #3
Yes, that's right. Besides, the `SMPL_FEMALE.pkl` and `SMPL_MALE.pkl` are only used for the evaluation on 3DPW. The `SMPL_NEUTRAL.pkl` is sufficient for training, demo, and evaluation on other datasets.

[2021-04-01 06:03] cedro3 commented on #3
Thank you immediately answer! This issue has been resolved.

[2021-04-01 13:50] #3 closed

[2021-04-01 15:38] Tina-Husky commented on #2
Thank you for your suggestion! We started getting down to deploy PyMAF on the colab. Now it's available, so check it out :)
https://colab.research.google.com/drive/11RXLsH9BdoSCwY6G-IX7KgqDxVoImu6K?usp=sharing#scrollTo=Plo2YZZmaDtY

[2021-04-01 23:35] cedro3 commented on #2
It's so cool! With this, many people can try it. Thank you so much.
This issue has been resolved.

[2021-04-02 00:31] #2 closed

[2021-04-08 09:16] tsoydari opened #4 "Unsuitable checkpoints"
When I run demo.py I get an error:

Traceback (most recent call last):
  File "demo.py", line 460, in <module>
    main(args)
  File "demo.py", line 143, in main
    model.load_state_dict(checkpoint['model'], strict=True)
  File "/usr/local/lib/python3.7/dist-packages/torch/nn/modules/module.py", line 777, in load_state_dict
    self.__class__.__name__, "\n\t".join(error_msgs)))
RuntimeError: Erro

[2021-04-08 13:02] HongwenZhang commented on #4
Hi, the demo code and checkpoints work well on our machine and Colab (https://colab.research.google.com/drive/11RXLsH9BdoSCwY6G-IX7KgqDxVoImu6K?usp=sharing).
The screenshot on Colab can be seen as follows.
It's recommended to have a try on the Colab first.
It's also suggested to have a check on the versions of pytorch and smplx, i.e., pytorch==1.1.0 and smplx==0.1.13.

![image](https://user-images

[2021-04-15 08:55] #4 closed

[2021-04-22 10:03] HongwenZhang commented on #4
This error is raised by the mismatched version of `SMPL_NEUTRAL.pkl`. PyMAF used the SMPL model with 10 shape PCs, which can be downloaded from the official website or using the following script.
`wget https://github.com/classner/up/raw/master/models/3D/basicModel_neutral_lbs_10_207_0_v1.0.0.pkl data/smpl/SMPL_NEUTRAL.pkl`

[2021-04-27 06:27] Xbbei opened #5 "demo pose and shape bug"
Hi,
    Thank you share the great work about human pose and shape estimation. I run the project in my datasets, and use the output "pose" and "shape" parameters, I found it will create the weird 3d mesh. And I found the bug in the demo.py:
     Should change the 229 -> 230
                    pred_pose.append(output['theta'][:, 3:75].reshape(batch_size * seqlen, -1))
                    pred_betas

[2021-04-28 02:56] HongwenZhang commented on #5
Many thanks for your pointing this out! The `demo.py` has been updated now.

[2021-04-28 02:56] #5 closed

[2021-04-30 03:45] zhihaolee opened #6 "SOLVER config"
Thank you for sharing the great job!

Could you please tell us what the SOLVER config is? Especially about the learning rate setting.

Thanks!

[2021-04-30 10:15] HongwenZhang commented on #6
Hi, we use the same solver setting as SPIN. The learning rate is set to 0.00005 without decay during training.

[2021-05-11 20:58] otsedom opened #7 "Pose tracking"
Thanks for the repo. I managed to run the default demo included in the README with --no_render option. After checking the pkl output, I observed that there is no joints2d data, so I realized that the default tracking is bbs based. Thus I relaunched  with --tracking_method=pose option. However, I am now getting the following error:

$ python3 demo.py --checkpoint=data/pretrained_model/PyMAF_model_c

[2021-05-14 17:53] #7 closed

[2021-06-15 10:00] tdelort opened #8 "ImportError: cannot import name 'download_youtube_clip' from 'utils.demo_utils'"
I think that during one of the past 2 commits, the `demo.py` file was not changed according to the `utils/demo_utils.py` API.

"download_youtube_clip" has been renamed to "download_url" but the name hasn't been changed in the import statement on `demo.py`.

[2021-06-15 15:41] #6 closed

[2021-06-15 15:47] Tina-Husky commented on #8
Sorry for the error I failed to notice. It's kind of you to correct it directly. I really appreciate it. 😊
(But, maybe some typos still exist... Feel free to ask for questions and give advice.)

[2021-06-15 15:53] #8 closed

[2021-06-16 09:13] sunwonlikeyou opened #10 "human36m GT SMPL parameter"
You said "The ground truth SMPL parameters in Human3.6M are generated by applying MoSH [34] to the sparse 3D MoCap marker data, as done in Kanazawa et al. "
I have angle files,3D points of Human3.6M. But i dont know how to SMPL parameters from the dataset.
Do you have code ? or Is there other data from Human3.6M??

[2021-06-16 12:30] HongwenZhang commented on #10
Hi, we used the moshed labels shared in [HMR](https://github.com/akanazawa/hmr/blob/master/doc/train.md#download-datasets). Unfortunately, the moshed labels can not be redistributed publicly due to the license issue. However, [this repo](https://github.com/mks0601/3DMPPE_ROOTNET_RELEASE) may still help you get the data and labels.

[2021-06-16 12:30] #10 closed

[2021-06-17 00:45] sunwonlikeyou commented on #10
Thank you for reply!
Shared link just give me 3D,2D poses, but I want to get GT SMPL parameters
of Human36M.
So.. Can I receive moshed labels of Human36M..? It's just research purpose
and I want to compare it with pseudo gt parameters.

Thank you very much.
Have a nice day.

2021년 6월 16일 (수) 오후 9:31, Hongwen Zhang ***@***.***>님이 작성:

[2021-06-19 08:39] HongwenZhang commented on #10
Please see [this link](tinyurl.com/cstcloud).

[2021-06-23 19:32] kaswani29 opened #11 "License"
Hi,

This is very interesting work. Can you please add license to the library.

Thanks!

[2021-06-24 14:46] HongwenZhang commented on #11
Hi, a license has been created. Note that the repository is heavily based on [SPIN](https://github.com/nkolot/SPIN) and [VIBE](https://github.com/mkocabas/VIBE). The usage should be also bound by the terms of their licenses.

[2021-06-24 14:46] #11 closed

[2021-06-29 13:01] tdelort opened #12 "[Question] n_iter in Regressor.forward"
Hi !

I have a question about the `n_iter` parameter of the `Regressor` class. Did you try to bump up that number higher than `1` and what was the effect on the results ?

[2021-06-29 13:36] HongwenZhang commented on #12
Hi, thanks for your question. We did not try higher values but such a setting should bring some gains.

[2021-06-29 13:38] tdelort commented on #12
Ok ! Thank you for your quick answer !

[2021-06-29 13:38] #12 closed

[2021-07-05 02:20] zhihaolee opened #13 "Mesh-aligned Features"
Hi,

You use the projected points to extract mesh-aligned feature, have you tried to just concat the projected image and the feature maps? Would it be better because it retains all the features and let the network learn how to combine them?

Thanks!

[2021-07-05 04:45] HongwenZhang commented on #13
Hi, thanks for your proposal! We did not try such a strategy. Concatenating the projected image with feature maps may be feasible but also need additional convolutions to process and combine them.

[2021-07-05 05:59] zhihaolee commented on #13
Thanks for your reply, maybe it worths a try

[2021-07-05 06:52] #13 closed

[2021-07-10 15:28] unw9527 commented on #3
Hi, thanks for your interesting work. I also want to confirm that whether "Fetch preprocessed data from SPIN" means running "fetch_data.sh" from SPIN's repository in ./data.

[2021-07-11 02:58] HongwenZhang commented on #3
Hi, it means running the `fetch_data.sh` of SPIN under the PyMAF project directory `./`.

[2021-07-30 11:50] leon532 opened #14 "question about per channel pixel-noise augmentation strategy"
请教一下，per channel pixel-noise这个augmentation主要是针对什么问题呢？我理解是可以提升网络输出旋转角的稳定性？这个augmentation策略对于结果是否有明显的收益呢？ 是否可以分享一下，感谢

[2021-07-31 14:45] HongwenZhang commented on #14
你好，这个主要是对输入图像的颜色做的augmentation，这种augmentation在图像处理相关任务中是比较常用的做法，一般2D/3D姿态估计网络的训练中都有这个augmentation操作

[2021-07-31 14:45] #14 closed

[2021-08-20 10:52] APeiZou opened #15 "how to getJ_regressor_extra.npy"

[2021-08-20 10:53] #15 closed

[2021-08-20 10:54] APeiZou opened #16 "how to download J_regressor_extra.npy"
![image](https://user-images.githubusercontent.com/49524647/130223048-4ee47848-ad7c-418b-b56e-86141b677062.png)
how  to  download  J_regressor_extra.npy?

[2021-08-20 14:33] HongwenZhang commented on #16
Hi, the necessary files should be ready by following the instruction at https://github.com/HongwenZhang/PyMAF#necessary-files.
It seems that the preprocessed data from SPIN was missing in your case.

[2021-08-20 16:52] YangJae96 opened #17 "Single image and demo?"
Hello. Thank you for sharing your great work.
I have ran your demo code, but it looks like it only supports video?

I just want to render a single person 3D mesh reconstruction with different viewpoints. For more detail, I want it like below example images.
![0002_c1s1_000451_03](https://user-images.githubusercontent.com/57695621/130270472-dc66d211-5d86-40c9-b473-9a06a3f1e89c.jpg)
![0002_c1s1_0004

[2021-08-21 08:01] HongwenZhang commented on #17
Hi, the demo code now supports a single image input. Please refer to the README for the example usage.

[2021-08-21 08:03] #16 closed

[2021-08-21 11:42] YangJae96 commented on #17
Thank you so much!!

[2021-08-21 11:42] #17 closed

[2021-08-31 05:17] LingFeng-bbben opened #18 "Invalid Chinese Comma in models/maf_extractor.py"
models/maf_extractor.py Line 114.

[2021-08-31 06:52] HongwenZhang commented on #18
Thank you for pointing this out! The code has been corrected now.

[2021-08-31 11:36] #18 closed

[2021-09-14 08:39] ketsu-shan opened #19 "import neural_renderer"
ImportError: /root/anaconda3/envs/pymaf/lib/python3.6/site-packages/neural_renderer/cuda/load_textures.cpython-36m-x86_64-linux-gnu.so: undefined symbol: __cudaPopCallConfiguration
cuda 9.0 torch 1.1.0 why this package not compatible with this version when run the demo which input photo?

[2021-09-15 01:55] HongwenZhang commented on #19
Hi, the neural_renderer is not needed for the demo. You can disable related import when running the demo.

[2021-09-15 01:55] #19 closed

[2021-09-16 09:10] ketsu-shan opened #20 "run demo.py"
Traceback (most recent call last):
  File "demo.py", line 572, in <module>
    run_video_demo(args)
  File "demo.py", line 395, in run_video_demo
    renderer = PyRenderer(resolution=(orig_width, orig_height))
  File "/root/guoshsh/PyMAF-master/utils/renderer.py", line 65, in __init__
    point_size=1.0
  File "/root/softwares/anaconda3/envs/pymaf/lib/python3.6/site-packages/pyrender/offscreen.py"

[2021-09-16 12:01] HongwenZhang commented on #20
Hi, it seems the pyopengl does not work correctly in your environment. The following issues may help.
https://github.com/mmatl/pyrender/issues/86#issuecomment-767613647
https://github.com/mkocabas/VIBE/pull/2#issuecomment-793195239

You can also try using the OpenDR renderer for the demo by using `--use_opendr`.

[2021-09-29 07:44] nanfengguli opened #21 "run demo.py for test"
INFO:OpenGL.acceleratesupport:No OpenGL_accelerate module loaded: No module named 'OpenGL_accelerate'
Run demo for a single input image.
INFO:models.hmr:loaded resnet50 imagenet pretrained model
/home/lxz/soft/conda/envs/pymaf/lib/python3.6/site-packages/torch/cuda/__init__.py:106: UserWarning:
NVIDIA GeForce RTX 3090 with CUDA capability sm_86 is not compatible with the current PyTorch installati

[2021-09-29 08:30] #21 closed

[2021-10-07 02:00] aespielberg opened #22 "demo.py opengl errors"
Hi,

Thank you for the project, it's very exciting!  I'm trying to run the demo, but I am getting a weird opengl error.  I tried use_opendr, but the output was just two images: one was the input image, and the other was just a black square.  I presume this means opendr is not happy either, even though opendr doesn't throw an error.

Looking through the other issues, I have tried the fix [here](htt

[2021-10-07 13:16] #22 closed, assigned to nobody

[2021-10-12 03:01] #20 closed

[2021-10-12 05:36] ketsu-shan opened #23 "train code"
Hi, I just want to train the code on the coco dataset, how can I use the order?
thanks

[2021-10-18 09:45] nanfengguli opened #24 "how to get finnal_fits/xxx.npz"
Hello, I would like to know how did you get the file finnal_fits/xxx.npz required during the training?
I want to train the model in my own dataset.
thanks

[2021-10-21 11:10] #24 closed, assigned to nobody

[2021-10-27 03:52] aespielberg opened #25 "Training on other datasets"
I want to try training, but do not currently have access to the H3.6M dataset.  Are there other datasets I can try training on (despite perhaps lower accuracy)?  If so, what is the command/flag structure for running on other datasets?

[2021-11-11 09:15] ketsu-shan opened #26 "In basedataset.py"
Why we need to self.keypoints = np.concatenate([keypoints_openpose, keypoints_gt], axis=1), concat the two list.What is the rule for openpose data?
thanks

[2021-11-18 16:16] aespielberg commented on #25
Thanks!

[2021-11-18 16:16] #25 closed

[2021-11-18 16:19] aespielberg opened #27 "h36m mosh"
Hi,

I'm trying to run the code on the h36m dataset.  I noticed that when I do this, I get the error:

`FileNotFoundError: [Errno 2] No such file or directory: 'data/dataset_extras/h36m_mosh_train.npz'`

Which procedure should I use to generate the moshed data from the h36m dataset?

[2021-11-19 05:23] HongwenZhang commented on #26
Hi, the keypoint adopts the definition listed in [here](https://github.com/HongwenZhang/PyMAF/blob/master/core/constants.py#L15), which is followed [SPIN](https://github.com/nkolot/SPIN/blob/master/constants.py#L14).

[2021-11-19 05:25] #23 closed

[2021-11-19 05:27] HongwenZhang commented on #27
Hi, we used the moshed labels shared in [HMR](https://github.com/akanazawa/hmr/blob/master/doc/train.md#download-datasets). Unfortunately, the moshed labels can not be redistributed publicly due to the license issue. However, [this repo](https://github.com/mks0601/3DMPPE_ROOTNET_RELEASE) may still help you get the data and labels.

[2021-11-19 14:50] aespielberg commented on #27
I'm a little confused.  Were these moshed labels previously distributed and no longer distributed?  Otherwise, how did you get them?  I also don't see how that other repo will help - what should I be using from that dataset?  I see h36m processed data, but not mosh data?

[2021-11-19 15:16] HongwenZhang commented on #27
The missing files can be accessed from the following URLs:
​
Label: https://pan.bnu.edu.cn/l/81f0v6.
Image: https://github.com/geopavlakos/c2f-vol-train/blob/master/data.sh

If the PyMAF data and code are used in your research, please cite their paper.

@inproceedings{pymaf2021,
  title={{PyMAF}: {3D} Human Pose and Shape Regression with Pyramidal Mesh Alignment Feedback Loop},
  author={Zhang, Ho

[2021-11-19 15:58] ricky10402 commented on #27
hi,
I  want to get this information.
Can you send it to me? Thank you. chaning.shih@gmail.com

[2021-11-20 02:44] #27 closed

[2021-11-24 04:38] ketsu-shan opened #28 "About generate static_fits"
Hi，I want to train with my own dataset but I didn't have the 3D groundtruth or corresponding smpl initial parameters. So how can I generate the static_fits and final_fits? What about these .npy file using for?
Thanks ;)

[2021-11-24 13:15] HongwenZhang commented on #28
Hi, these .npy files are pseudo labels for training. The static_fits and final_fits are the SMPL parameters fitted by SMPLify and SPIN, respectively. These files are generated in [SPIN](https://github.com/nkolot/SPIN).

[2021-11-29 08:54] CworldNo1 commented on #27
hi,
I want to get the h36m_mosh_train.
Could you please send it to me? Thank you. wuzeyong12138@163.com

[2021-12-03 03:29] Ly12346 commented on #27
@HongwenZhang I want to get the h36m_mosh_train.npz.
Could you please send it to me? Thank you.
You can e-mail a18404213637@163.com

[2021-12-06 14:21] ShamLich opened #29 "does anyone run the demo successfully in pytorch1.7.0 or higher version？"
win11 rtx3080

when i try the demo,i got that error

_Traceback (most recent call last):
  File "demo.py", line 39, in <module>
    from utils.renderer import OpenDRenderer, PyRenderer
  File "E:\Users\ShamLich\Documents\GitHub\PyMAF\utils\renderer.py", line 30, in <module>
    class WeakPerspectiveCamera(pyrender.Camera):
NameError: name 'pyrender' is not defined_

but i have already install the

[2021-12-07 03:24] ketsu-shan opened #30 "About MPJPE"
Hi, I want to know the MPJPE is compyted on which space? Pixel space or real space?
Why multiply 1000 in the code  like spin? What are their units and in your paper the number is after multiply 1000?
thank u ;)

[2021-12-07 07:46] littlejiumi commented on #20
Add this:
MESA_GL_VERSION_OVERRIDE=4.1

[2021-12-07 07:54] HongwenZhang commented on #30
Hi, the unit of MPJPE is millimeter (mm) in the real world. By multiplying 1000, the unit is converted from the meter (m) to millimeter (mm).

[2021-12-07 08:05] HongwenZhang commented on #29
Hi, I have not tried running the demo on Windows, but I have run the demo successfully on Ubuntu with pytorch1.8.1.
As the demo code is adapted from VIBE, it is recommended to have a look at the `windows-installation-tutorial` provided in VIBE (https://github.com/mkocabas/VIBE#windows-installation-tutorial).

[2021-12-07 08:05] #28 closed

[2021-12-07 08:06] #26 closed

[2021-12-07 10:58] littlejiumi opened #31 "checkpoint error"
Traceback (most recent call last):
  File "/root/Downloads/PyMAF/demo.py", line 569, in <module>
    run_image_demo(args)
  File "/root/Downloads/PyMAF/demo.py", line 85, in run_image_demo
    model.load_state_dict(checkpoint['model'], strict=False)
  File "/root/anaconda3/lib/python3.9/site-packages/torch/nn/modules/module.py", line 1482, in load_state_dict
    raise RuntimeError('Error(s) in loa

[2021-12-07 11:32] HongwenZhang commented on #31
Hi, This error is raised by the mismatched version of SMPL. PyMAF used the SMPL model with 10 shape PCs. Please refer to [#4 ](https://github.com/HongwenZhang/PyMAF/issues/4#issuecomment-824709755).

[2021-12-08 07:26] ketsu-shan commented on #30
OK!
Another question if i use my dataset which gt like lsp datasets. which part need I modification like the joints map or some constant para? I  am train on my dataset then test it find all the mesh is slightly higer position and I used perspective_projection to  get my 2d coordinates a lot of negative values.
I uesd 18 keypoints openpose detected and my gt has 14 keypoints. Following is one of m

[2021-12-08 08:55] ketsu-shan commented on #30
@HongwenZhang

[2021-12-10 12:40] HongwenZhang commented on #30
Code for processing the SPIN-compatible data: https://github.com/nkolot/SPIN/tree/master/datasets/preprocess

[2021-12-10 12:41] #31 closed

[2021-12-21 09:07] semchan commented on #20
but still not working

[2021-12-21 09:08] semchan opened #32 "run demo.py error"
File "demo.py", line 97, in run_image_demo
    renderer = PyRenderer(resolution=(constants.IMG_RES, constants.IMG_RES))
  File "/home/chenys/matting/PyMAF/utils/renderer.py", line 65, in __init__
    point_size=1.0
  File "/usr/local/lib/python3.7/site-packages/pyrender-0.1.45-py3.7.egg/pyrender/offscreen.py", line 31, in __init__
    self._create()
  File "/usr/local/lib/python3.7/site-packages/p

[2021-12-21 10:32] littlejiumi commented on #20
Would you print your error?

[2021-12-21 10:38] semchan commented on #20
https://github.com/HongwenZhang/PyMAF/issues/20#issuecomment-998664394

[2021-12-21 10:39] semchan commented on #20
File "demo.py", line 97, in run_image_demo
renderer = PyRenderer(resolution=(constants.IMG_RES, constants.IMG_RES))
File "/home/chenys/matting/PyMAF/utils/renderer.py", line 65, in init
point_size=1.0
File "/usr/local/lib/python3.7/site-packages/pyrender-0.1.45-py3.7.egg/pyrender/offscreen.py", line 31, in init
self._create()
File "/usr/local/lib/python3.7/site-packages/pyrender-0.1.45-py3.7.egg/p

[2021-12-22 08:29] with-twilight commented on #27
hi, @HongwenZhang
I want to get the h36m_mosh_train.npz. Could you please send it to me? Thank you.
n21280m@gmail.com

[2021-12-22 08:37] fxs628 commented on #27
Hi, @HongwenZhang
I want to reproduce the PyMAF work, and missed "h36m_mosh_train.npz" when training. I cound't find how to get or make it.
Could you please send some .npz files used in PyMAF to me?
Thank you! You can email fxs0628@gmail.com

[2021-12-28 03:31] Droliven opened #33 "About H3.6M dataset"
In your core/path_config.py, it writes:

[10]    H36M_ROOT = join(expanduser('~'), 'Datasets/human/h36m/c2f_vol')
[32-34]   'h36m-p2-mosh': join(DATASET_NPZ_PATH, 'h36m_mosh_valid_p2.npz'),
[45]    'h36m': join(DATASET_NPZ_PATH, 'h36m_mosh_train.npz'),
[58-61]    'h36m': H36M_ROOT,
                    'h36m-p1': H36M_ROOT,
                    'h36m-p2': H36M_ROOT,
                    'h36m-p2-mosh

[2021-12-28 04:06] HongwenZhang commented on #33
Please refer to #27.

[2021-12-28 04:09] #30 closed

[2021-12-28 04:10] #29 closed

[2021-12-28 04:12] HongwenZhang commented on #32
Please refer to #20

[2021-12-28 04:13] #33 closed

[2021-12-28 06:08] a139122679 commented on #27
@HongwenZhang 你好，我想遇到了同样的问题，能发我一下需要的.npz文件吗，谢谢了！我的邮箱 905061622@qq.com

[2021-12-28 08:30] Droliven commented on #27
Could you please send some *.npz files about h3.6m Mosh used in PyMAF to me?
Thank you very much!  levondang@163.com

[2021-12-28 09:22] a139122679 commented on #24
FileNotFoundError: [Errno 2] No such file or directory: 'data/final_fits/lsp-orig.npz'                                                                                               Is lsp-orig.npz or lspet.npz in the spin_fits.tar.gz package that I downloaded?

[2021-12-28 09:27] HongwenZhang commented on #24
Yes.

[2021-12-28 09:29] a139122679 commented on #24
ok，thank you very much.

[2021-12-28 11:11] a139122679 opened #34 "fail to import Renderer. How to solve this problem?"
fail to import Renderer.
INFO:utils.train_utils:log name: logs/pymaf_res50_mix/pymaf_res50_mix_as_lp3_mlp256-128-64-5_Dec28-10-52-18-ZWK
INFO:models.hmr:loaded resnet50 imagenet pretrained model
INFO:datasets.base_dataset:len of h36m: 312188
INFO:datasets.base_dataset:len of lsp-orig: 1000
INFO:datasets.base_dataset:len of mpii: 14810
INFO:datasets.base_dataset:len of lspet: 9428
INFO:datasets.bas

[2021-12-29 02:37] HongwenZhang commented on #34
`IUV_Renderer` is currently depended on [neural_renderer](https://github.com/daniilidis-group/neural_renderer).
If you fail to install [neural_renderer](https://github.com/daniilidis-group/neural_renderer), you can disable densepose rendering by setting `--misc MODEL.PyMAF.AUX_SUPV_ON False`.

[2021-12-29 02:58] semchan commented on #32
The problem I encountered was caused by the graphics card driver. When I updated the driver to the latest version, the problem disappeared： Driver Version: 470.94       CUDA Version: 11.4

[2021-12-29 02:58] #32 closed

[2021-12-29 03:16] a139122679 commented on #34
Thank you for your reply. After the neural_renderer dependency is installed, A new problem has arisen.. The Pyrender dependency is installed successfully. I do not know why the error message "pyrender undefined" is reported. Please check it.                                             Traceback (most recent call last):
  File "train.py", line 9, in <module>
    from core.trainer import Trainer
  F

[2021-12-29 08:13] HongwenZhang commented on #34
It seems that the `pyrender` package is not successfully imported or installed.

[2021-12-29 08:46] a139122679 commented on #34
It seems so, I removed the try method from your code, and now it's an error like this.                                                                                Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/PyOpenGL-3.1.0-py3.6.egg/OpenGL/platform/glx.py", line 17, in GL
    mode=ctypes.RTLD_GLOBAL
  File "/opt/conda/lib/python3.6/site-packages/PyOpenGL-3.1

[2021-12-30 06:16] panshaohua commented on #27
Could you please send h36m_mosh_train.npz to me to reproduce paper's result? Thank you.
You can e-mail duanxianshi@gmail.com

[2022-01-02 13:47] SaterZhan opened #35 "FileNotFoundError: [Errno 2] No such file or directory: 'data/final_fits/h36m.npy'"
Hello, there is a problem that 'FileNotFoundError: [Errno 2] No such file or directory: 'data/final_fits/h36m.npy' when i start training the model, and there is not such file in final-fits in SPIN, where can i get this file ?  And if u have this ，please send me at saterzhan@163.com，3Q so much

[2022-01-03 02:50] HongwenZhang commented on #35
Hi, the message has been sent.

[2022-01-03 02:50] #35 closed

[2022-01-03 09:58] jinfagang opened #36 "does it need detection on image of every human first?"
does it need detection on image of every human first?

[2022-01-03 14:30] HongwenZhang commented on #36
Yes, the demo code includes the person detection on the given input image.

[2022-01-04 02:54] jinfagang commented on #36
@HongwenZhang thanks. Does it need 2d keypoints?

[2022-01-04 12:50] HongwenZhang commented on #36
No, keypoint detection is not needed.

[2022-01-04 12:59] HongwenZhang commented on #34
We have only tested our code on Ubuntu. I have no idea about the above errors :(
You can also refer to the answers in Issue #20.

[2022-01-04 12:59] #34 closed

[2022-01-04 13:54] jinfagang commented on #36
@HongwenZhang thanks. How's the e2e speed compare with TCMR and HyperIK?

[2022-01-05 01:17] SaterZhan opened #37 "train error about h36m"
hello，i meet a question like this，i failed to resolve it ，need your help，thanks
INFO:datasets.base_dataset:len of h36m-p2-mosh: 26859
  0%|                                                                                                                                                                                                             | 0/200 [00:23<?, ?it/s]
Traceback (most recent call las

[2022-01-06 02:49] HongwenZhang commented on #37
Hi, this issue may be raised by the incompatible number of the shape components in SMPL (I am not so sure). We use 10 shape components with version 0.1.13 of `smplx`. Please also refer to issue #4.

[2022-01-06 10:47] SaterZhan commented on #37
thanks so much, you are right! i'm wrong as used another version of SMPL!

[2022-01-06 13:10] #37 closed

[2022-01-06 13:20] #36 closed

[2022-01-06 13:54] jinfagang commented on #36
@HongwenZhang How's the final visual effect compare with TCMR and PyMAF?

[2022-01-08 11:50] HongwenZhang commented on #36
I vote for PyMAF.

[2022-01-08 14:54] jinfagang commented on #36
@HongwenZhang thanks. PyMAF seems incrediable stable in terms of temporal smooth. TCMR can not achieves this effect even it using a GRU temporal model style. What do you think plays most important role in this strong result?

And, do u think it is needed for keypoint2d input for event better result? Did u tried it?

[2022-01-11 13:59] HongwenZhang commented on #36
@jinfagang Thanks for your interest. PyMAF leverages the spatial information better via the mesh-aligned features, which helps better mesh-image alignment even it does not use temporal information. I have not tried using 2D key points in our method but I think it is worth a try.

[2022-01-15 09:40] ssssholmes commented on #27
@HongwenZhang Could you please send h36m_mosh_train.npz to me to reproduce paper's result? Thank you.
my e-mail is shangguanxiaomo@gmail.com

[2022-01-16 19:32] ShamLich opened #38 "question about file ‘trainer.py’"
in line122
self.valid_loader = DataLoader(
            dataset=self.valid_ds,
            batch_size=cfg.TEST.BATCH_SIZE,
            shuffle=False,
            num_workers=cfg.TRAIN.NUM_WORKERS,
            pin_memory=cfg.TRAIN.PIN_MEMORY,
            sampler=val_sampler
        )
the batch_size of valdata is cfg.TEST.BATCH_SIZE

so the code in line 537
pbar = tqdm(desc='Eval', total=len(self.val

[2022-01-17 02:20] HongwenZhang commented on #38
Hi, you are right. This bug affects the display of the progress bar. Thank you for pointing this out.

[2022-01-17 02:20] #38 closed

[2022-01-17 09:57] CZ75auto commented on #27
@HongwenZhang  Could you please send h36m_mosh_train.npz to me to reproduce the paper's result? Thank you.
You can email andychu0325@gmail.com

[2022-01-22 05:16] Ly12346 opened #39 "how to using the OpenDR renderer for the demo by using --use_opendr."
how to using the OpenDR renderer for the demo by using --use_opendr

[2022-01-22 05:54] #39 closed

[2022-01-24 15:53] ShamLich opened #40 "Except downsizing the number of num_workers，what else can I do to control my use of memory"
When I train that my process is always killed by the system, because of been out of memory during eval。

[2022-03-06 02:51] qiqiApink commented on #27
@HongwenZhang Could you please send h36m_mosh_train.npz to me to reproduce paper's result? Thank you. This is my email 1165394984@qq.com

[2022-03-09 04:10] HongwenZhang commented on #40
The evaluation code computes performances for each iteration. All intermediate results all stored during the evaluation which may lead to memory issues. Modifying the code to evaluate the final mesh only should use less memory.

[2022-03-09 09:48] abcliguanxi opened #42 "how to get 2d keypoints in image?"
Firstly,Thks for your great work. I have three question.
1. you use weak perspective projection or perspective projection?
2. how to get 2d keypoints in image?
Looking forward to your reply！

[2022-03-10 13:42] hust-kevin commented on #27
@HongwenZhang can you send me h36m_mosh_train.npz, thank you very much, my email 1369208691@qq.com

[2022-03-11 02:29] hust-kevin commented on #36
@HongwenZhang, infer spedd really slow, run a 200-frame(single-person) need 2-min

[2022-03-11 02:34] HongwenZhang commented on #36
@hust-kevin This is because the visualization (rendering) of SMPL is slow.

[2022-03-11 02:53] HongwenZhang commented on #42
1. We use weak perspective projection.
2. Keypoints can be obtained by the following code: https://github.com/HongwenZhang/PyMAF/blob/master/eval_coco.py#L134-L140

[2022-03-11 03:17] hust-kevin commented on #36
@HongwenZhang yes, visualization is slow, what' more, the result in whole-body is good, but the upper body result is bad, any suggestion to improve upper body result?

[2022-03-11 03:21] HongwenZhang commented on #36
@hust-kevin For partial body recovery, our previous work [DaNet](https://github.com/HongwenZhang/DaNet-3DHumanReconstruction) may be a better solution.

[2022-03-20 16:26] Molicaliatimis commented on #27
@HongwenZhang Could you please send me h36m_mosh_train.npz? Thank you! My E-mail address is quzhuohan1998@163.com

[2022-03-22 07:35] abcliguanxi commented on #42
thks, i will closed this issus.

[2022-03-22 07:35] #42 closed

[2022-04-05 14:12] nonlin opened #44 "Can this be used to obtain mocap data from the tracking of the generated mesh?"

[2022-04-05 15:27] mohamedabdallah20 commented on #27
@HongwenZhang could you please send me the h36m_mosh_train.npz ?
my email is mohamedabdala1442000@gmail.com
thank you in advance.

[2022-04-06 09:35] HongwenZhang commented on #44
I think the current results can not meet the requirements in terms of the accuracy of mocap data. The reconstruction method is still facing challenges in the case of occlusions, fast motions, etc. In these cases, the reconstructed models may not be well-aligned with the person images, especially for those invisible body parts.

[2022-04-06 09:35] #40 closed

[2022-04-14 09:55] agnJason commented on #27
@HongwenZhang Could you please send me h36m_mosh_train.npz? Thank you! My E-mail address is [ganqijun@zju.edu.cn](ganqijun@zju.edu.cn)

[2022-04-15 13:49] agnJason opened #45 "error while render/visualize"
First error occured while training:
Traceback (most recent call last):r15-19-58-15-iXP Epoch 0:  41%|████      | 1000/2438 [31:24<29:48,  1.24s/it]
  File "train.py", line 69, in <module>
    main(None, ngpus_per_node, options)
  File "train.py", line 38, in main
    trainer.fit()
  File "/home/gqj/PyMAF/core/trainer.py", line 502, in fit
    self.train(epoch)
  File "/home/gqj/PyMAF/core/trainer.

[2022-04-16 05:44] agnJason commented on #45
I solved it by reinstall opendr

[2022-04-16 05:44] #45 closed

[2022-04-17 13:04] liangwx commented on #24
学长，lsp-orig.npz就是  lsp.npz吗？

[2022-04-19 02:21] HongwenZhang commented on #24
应该就是lsp-orig.npz

[2022-04-25 08:02] #44 closed

[2022-04-26 07:31] CHENYUHANG-smp opened #46 "About focal_length=5000"
Thanks for your brilliant work!
I notice that you estimate the camera parameters by using a function called "estimate_translation_np" (borrowed from SPIN). I feel puzzled that why you could set the same focal length (5000) for different datasets and different images.
Thanks again and hope for your reply.

[2022-04-27 08:29] Linweitao commented on #27
@HongwenZhang  Sorry for bothering you.
Could you please send me h36m_mosh_train.npz?
tonylinwt@qq.com

[2022-04-27 11:47] HongwenZhang commented on #46
Hi, The focal length of 5000 is indeed not accurate. There are papers trying to tackle this problem:

Beyond Weak Perspective for Monocular 3D Human Pose Estimation, ECCV 2020
SPEC: Seeing People in the Wild with an Estimated Camera, ICCV 2021

[2022-05-06 13:28] ywx-stack opened #47 "TypeError: __call__() got an unexpected keyword argument 'image'"
Thanks for your brilliant work!
But when I train the first stage,I meet one error:
`Traceback (most recent call last):`
  `File "/media/data1/mypath/PyMAF/train.py", line 69, in <module>`
    `main(None, ngpus_per_node, options)`
  `File "/media/data1/mypath/PyMAF/train.py", line 38, in main`
  `  trainer.fit()`
  `File "/media/data1/mypath/PyMAF/core/trainer.py", line 502, in fit`
   ` self.train

[2022-05-12 07:21] HongwenZhang commented on #47
Hi, there is a bug when calling the [renderer](https://github.com/HongwenZhang/PyMAF/blob/master/utils/renderer.py#L191). How about trying to modify `image=` to `img=` at [L679](https://github.com/HongwenZhang/PyMAF/blob/master/core/trainer.py#L679)?

[2022-05-22 03:26] #46 closed

[2022-06-14 08:53] xiangcece commented on #27
@HongwenZhang could you please send me the h36m_mosh_train.npz ?
my email is xiangcece@foxmail.com.
Thank you very much!

[2022-06-29 10:14] Italy2006 commented on #27
Could you please share with me?1278709488@qq.com,thanks!

[2022-07-05 06:40] MooreManor opened #48 "Question about training PyMAF"
Hi, Hongwen! Thanks for your great job!

I have two questions about training PyMAF.
1.

Why PyMAF needs to train on H36m first? And will PyMAF get comparable performance to the two-stage training method if PyMAF is trained only on mixed datasets?
2.
In PyMAF, `num_epochs` is set to 200. Compared with other methods in HPS, the training procedure is too long. Is it possible to reduce the num of epoc

[2022-07-06 08:01] Harsh-Vavaiya opened #49 "Export data for unreal engine"
@HongwenZhang @tinatiansjz @tdelort May I use this smpl output data for the unreal engine?

[2022-07-12 11:24] Italy2006 commented on #48
Holy crap, Bin!!!!!!

[2022-07-12 11:27] Italy2006 opened #50 "Questions about training in remote server"
Traceback (most recent call last):
  File "train.py", line 69, in <module>
    main(None, ngpus_per_node, options)
  File "train.py", line 37, in main
    trainer = Trainer(options)
  File "/root/ours/pymaf/core/base_trainer.py", line 28, in __init__
    self.init_fn()
  File "/root/ours/pymaf/core/trainer.py", line 56, in init_fn
    self.smpl_render =  PyRenderer(resolution=(constants.IMG_RES, c

[2022-07-15 05:10] h-s-dev commented on #27
@HongwenZhang could you please send me the h36m_mosh_train.npz, h36m_mosh_valid_p2.npz ?
My email is w.blue.light.w@gmail
Thank you very much!

[2022-07-15 13:28] lai-pf opened #51 "final_fits/h36m.npy and static_fits/h36m.npy"
I can't get these two files, can someone send me a copy? It really helps me a lot.
This is my email dr.henrylai@gmail.com  .  Thanks again.

[2022-07-15 13:43] lai-pf commented on #50
您好 我也在了解这篇论文 请问您方便分享一下 final_fits/h36m.npy and static_fits/h36m.npy两个文件给我吗
我的邮箱是dr.henrylai@gmail.com

[2022-07-15 15:58] HongwenZhang commented on #51
Messages have been sent.

[2022-07-15 15:58] #51 closed, assigned to nobody

[2022-07-15 16:01] HongwenZhang commented on #48
Hi, we follow the training setting of SPIN. The num_epochs is just a maximum number, not the actual training setting.

[2022-07-15 16:03] HongwenZhang commented on #50
Have you tried using `os.environ['PYOPENGL_PLATFORM'] = 'egl'`?

[2022-07-15 16:05] #47 closed, assigned to nobody

[2022-07-15 16:07] HongwenZhang commented on #49
What do you mean by the smpl output data?

[2022-07-19 06:10] h-s-dev commented on #51
@HongwenZhang
Thank you for your recent response regarding the "h36m_mosh_train.npz".
Could you also send me the files "final_fits/h36m.npy" and "static_fits/h36m.npy" to the following e-mail address?
w.blue.light.w@gmail.com
Thanks again.

[2022-07-19 07:09] h-s-dev commented on #24
@HongwenZhang

I retrieved spin_fits.tar.gz from the SPIN web page, but it does not seem to contain lsp-orig.npz.
The following files are included when spin_fits.tar.gz is extracted.
coco.npz
lsp.npz
lspet.npz
mpii.npz
mpi_inf_3dhp.npz

Please share lsp-orig.npz to the following email.
w.blue.light.w@gmail.com

By the way, the URL of SPIN's final fits is as follows
https://github.com/nkolot/SPIN#f

[2022-07-19 09:27] Italy2006 commented on #24
请问你弄到了嘛？如果有的话方便发一份嘛？另外我还有疑问就是有没有其他数据集的资源啊

[2022-07-19 12:42] HongwenZhang commented on #24
lsp.npz and lsp-orig.npz are the same one

[2022-07-19 15:22] Italy2006 commented on #24
Didn't you say that lsp-orig.npz and lsp.npz are  the same?

[2022-07-19 16:13] HongwenZhang commented on #24
Sorry for my misspelling.

Clarification:
lsp-orig.npz is the lsp.npz in spin_fits.tar.gz.
spin_fits.tar.gz can be download from https://github.com/nkolot/SPIN#final-fits .

[2022-07-20 01:44] quqixun opened #52 "Release PyMAF-X"
When will you release the amazing PyMAF-X ?

[2022-07-20 03:06] lalala68 opened #53 ".npy files"
Where should I get "J_regressor_extra.npy" ,"J_regressor_h36m.npy" and  "static_fits/ .npy" files？
Could you send me the files to the following e-mail address?
hiznzzn2@gmail.com
Thank you!

[2022-07-20 04:30] HongwenZhang commented on #52
Hi, thanks for your interest in our work. We do have a plan to release the code of PyMAF-X, but the exact time is to be determined. Maybe in a few weeks or months but not later than the time when the paper is accepted.

[2022-07-20 04:37] HongwenZhang commented on #53
Hi, as described in README, some necessary files need to be accessed from SPIN.
https://github.com/HongwenZhang/PyMAF#necessary-files
https://github.com/nkolot/SPIN#fetch-data

The static_fits is not used in our code. We use the final_fits of SPIN, which can be downloaded from:
https://github.com/nkolot/SPIN#final-fits

[2022-07-20 05:53] #52 closed, assigned to nobody

[2022-07-20 06:17] lalala68 commented on #53
Thank you！！！❤

[2022-07-20 08:55] #48 closed, assigned to nobody

[2022-07-27 11:42] yangyang32111 commented on #51
@HongwenZhang
Thanks for your excellent work,and Could you also send me the files "final_fits/h36m.npy" and "static_fits/h36m.npy" to the following e-mail ? Thankk again!
geyy@emails.bjut.edu.cn

[2022-07-27 11:50] yangyang32111 commented on #27
@aespielberg  Hi,sorry to bother you,Could you please share the mosh data with me?
My email is geyy@emails.bjut.edu.cn.
Thanks a lot!

[2022-07-28 15:42] Zinia17 opened #54 "Deploy on windows and Train"
Hi, great work indeed. I am novice but have high interest to run this project. So I have the following questions.
1. Can I deploy this project by cloning in a windows machine?
2. Do you have any demo vedio for deploying in any machine?
3. Can I train it for 3dPW dataset?
4. How can I get the result that you showed in the table?
Hoping for your guidance.

[2022-07-29 03:26] Italy2006 commented on #48
I have another question, I looked at the code, the network does not need to detect the position of the portrait first, but sends the whole image directly. In this situation, only one result will be output in the case of multiple people. How to supervise?

[2022-07-31 08:18] #53 closed, assigned to nobody

[2022-08-01 08:27] HongwenZhang commented on #52
Hi, demo code for PyMAF-X is now released, please check out the [smplx branch](https://github.com/HongwenZhang/PyMAF/tree/smplx) or `git checkout smplx`.

[2022-08-01 10:03] JACKYLUO1991 opened #55 "What is the inference time for a single frame of the Pymaf-x model?"
What is the inference time for a single frame of the Pymaf-x model?

[2022-08-01 10:30] JACKYLUO1991 commented on #55
Sorry, I just saw that the paper was given.

[2022-08-01 11:09] JACKYLUO1991 commented on #55
ValueError: Invalid device ID (0) in pyrender?

[2022-08-02 09:10] #55 closed, assigned to nobody

[2022-08-09 00:41] tommycwh opened #56 "Projection of estimated SMPL/SMPL-X mesh on Image"
Thank you very much for your amazing work. I would like to ask a question about how to project a mesh estimated by PyMAF/PyMAF-X back on the input image.

It seems that PyMAF projects the predicted joints using the [projection(...)](https://github.com/HongwenZhang/PyMAF/blob/fb21d104c5556bf4e7a6d1b74e165f4240206bcf/utils/geometry.py#L241) function and the predicted camera parameters as in [here](h

[2022-08-09 06:40] HongwenZhang commented on #56
Hi, thanks for your interest in PyMAF-X. `projection(dict(cam_sxy=smplx_verts), pred_cam)` seems to be not correct. Do you mean `projection(smplx_verts, dict(cam_sxy=pred_cam))`? Moreover, the input resolution of PyMAF-X should be 224x224.

[2022-08-09 06:46] HongwenZhang commented on #54
Hi, thanks for your interest.
1. I have not tried to deploy it on Windows.
2. Unfortunately, we do not have such a video.
3. The training data of 3DPW need to be prepared in the same way as SPIN.
4. Both training and evaluation code are provided in this repository. You can follow the instruction in README to get the evaluation results.

[2022-08-09 06:46] #54 closed, assigned to nobody

[2022-08-09 06:47] #49 closed, assigned to nobody

[2022-08-09 06:47] #50 closed, assigned to nobody

[2022-08-09 14:07] tommycwh commented on #56
Yes, I put the dictionary in the wrong argument while I was writing here. It should be ```projection(smplx_verts, dict(cam_sxy=pred_cam))```.

About the resolution, I did not notice about the resolution used in PyMAF-X and I was just considering the resolution of my own images. I adjusted my way to visualize the projected points to ```(x+112)*(512/224)``` and ```(y+112)*(512/224)```, so that I fir

[2022-08-09 15:01] HongwenZhang commented on #56
The demo code of PyMAF/PyMAF-X first detects the person in the image, then crops a new image based on the detected person bounding box. So, I think the reprojected points should not be simply rescaled to the original image.

[2022-08-10 13:04] Zinia17 commented on #54
Thanks a lot for the clarifications.

[2022-08-12 02:16] tommycwh commented on #56
If the ```projection(...)``` function project 3D points to [-112,+112]^2 (for projected points that are inside the 224^2 bbox), is it possible to (1) first rescale the projected points from the resized bbox [-112,+112] to the original bbox [W_bbox,H_bbox], and then (2) translate the projected points on the original image according to the location of the original bbox? For example:

[code]
where
[c

[2022-08-12 02:58] linjing7 opened #57 "Training code of PyMAF-X"
Hi, thanks for your excellent work. I wonder when will the training code of PyMAF be released ?

[2022-08-17 13:57] tommycwh commented on #56
I found the parameters to re-create the projection without using the renderer provided in the code (only when IWP camera mode is not used).

Following "SPEC: Seeing People in the Wild with an Estimated Camera", PyMAF(-X) seems to model the camera translation ```R_c``` in the world space, while assuming zero translation of the SMPL(-X) mesh and identity rotation of the camera.

Translating to the v

[2022-08-17 15:12] linjing7 opened #58 "What cause the large performance improvement on 3DPW dataset?"
Hi, thank you very much for your excellent work.

In the journal version, the performance of PyMAF is significantly better than that in the conference version. Could you please tell me the reason? Is it caused by the differences between the training setting?

[2022-08-18 01:18] HongwenZhang commented on #58
Hi, thanks for your questions.

Yes, it is caused by the differences between the training settings used in the conference version (following the setting in [SPIN](https://github.com/nkolot/SPIN)) and the journal version (following the setting in [PARE](https://github.com/mkocabas/PARE)). Basically, the performance of the baseline (HMR architecture) is significantly better than the conference versi

[2022-08-18 01:26] HongwenZhang commented on #56
Yeah, the reprejection result is now correct. Glad to hear that you have figured it out! @tommycwh

[2022-08-18 01:30] HongwenZhang commented on #57
Hi, thanks for your interest in our work. The training code of PyMAF-X may be released in the future when our paper is accepted.

[2022-08-18 01:53] linjing7 commented on #58
Okay, thank you very much for your reply!

[2022-08-18 01:53] linjing7 commented on #57
Okay, looking forward to the training code and wish your excellent work to be accepted!

[2022-08-18 01:54] #58 closed, assigned to nobody

[2022-08-18 01:54] #57 closed, assigned to nobody

[2022-08-29 11:10] surheaven opened #59 "How can I get trans from output.pkl?"
What I ended up with was a video and a .pkl file. I found that the output.pkl has beta and pose without trans. So I want to ask how to get the trans of smpl?

[2022-08-31 07:33] sillyboyKK opened #60 "About training on Human3.6M：How to get 'data/final_fits/h36m.npy'?"
Thank you very much for your amazing work! When I train pymaf on single dataset(Human3.6M), I don‘t know how to get 'data/final_fits/h36m.npy'

       # Load dictionary
        for ds_name, ds in train_dataset.dataset_dict.items():
            if ds_name in ['h36m']:
                dict_file = os.path.join(path_config.FINAL_FITS_DIR, ds_name + '.npy')
                self.fits_dict[ds_name] = tor

[2022-08-31 08:15] sillyboyKK commented on #27
@HongwenZhang Could you please send some *.npz and *.npy files about h3.6m Mosh used in PyMAF to me?
Thank you very much! [jkai_huang@163.com](mailto:jkai_huang@163.com)

[2022-08-31 09:51] HongwenZhang commented on #60
Please refer to [#27](https://github.com/HongwenZhang/PyMAF/issues/27#issuecomment-974158282).

[2022-08-31 09:51] #60 closed, assigned to nobody

[2022-08-31 10:00] HongwenZhang commented on #59
Hi, the translation can be obtained from [here](https://github.com/HongwenZhang/PyMAF/blob/smplx/utils/renderer.py#L169).

[2022-08-31 11:41] surheaven commented on #59
Thanks！

[2022-08-31 11:41] #59 closed, assigned to nobody

[2022-09-05 06:40] xljh0520 opened #61 "An error in loading data"
Hi, I got an error in loading the data. I tried numpy version 1.15.4, 1.20.0 and I got the same error. How could I fix it?
OSError: Failed to interpret file 'data/mesh_downsampling.npz' as a pickle

[2022-09-05 06:57] #61 closed, assigned to nobody

[2022-09-05 08:45] xljh0520 opened #62 "How to get h36m_mosh_train.npz"
Hi, thanks for sharing your code. I'm trying to reproduce your work. I tried to train it on Human3.6M dataset. However, I could not find the h36m_mosh_train.npz. Could your tell me how to get it?

[2022-09-05 08:49] HongwenZhang commented on #62
Hi, please refer to [#27](https://github.com/HongwenZhang/PyMAF/issues/27#issuecomment-974158282).

[2022-09-05 08:49] #62 closed, assigned to nobody

[2022-09-07 09:24] tinatiansjz commented on #48
Hi, @Italy2006
Actually, no matter at what phase, the whole image is first cropped based on the bounding box parameters and then fed to the network. The difference is that we use ground-truth bboxes in training, while during inference a detector is employed to detect them.

[https://github.com/HongwenZhang/PyMAF/blob/smpl/datasets/base_dataset.py#L164](https://github.com/HongwenZhang/PyMAF/blob/sm

[2022-09-08 09:05] fmx789 commented on #51
@HongwenZhang
Thanks for your excellent work,and Could you also send me the files "final_fits/h36m.npy" to the following e-mail ? Thanks again!
<fmx456@outlook.com>

[2022-09-09 02:34] Guanyuansheng opened #63 "install openpifpaf error"
Hi! I'm having trouble when installing the 'openpifpaf==0.13.1' in requirements.txt, and there are many errors occurred when I run the command 'pip3 install openpifpaf==0.13.1':
ERROR: Failed building wheel for openpifpaf
Failed to build openpifpaf
ERROR: Could not build wheels for openpifpaf, which is required to install pyproject.toml-based projects

Can you explain how to solve this problem? th

[2022-09-11 12:37] yijicheng opened #64 "How to align openpifpaf keypoints and SMPLX joints?"
Thans for your excellent work!

How to align openpifpaf keypoints(127) and  SMPLX joints(127/144)?

[2022-09-12 08:53] HongwenZhang commented on #64
Hi, the keypoint definitions of openpifpaf and SMPL-X can be found at:
https://github.com/jin-s13/COCO-WholeBody
https://github.com/openpifpaf/openpifpaf/blob/main/src/openpifpaf/plugins/wholebody/constants.py#L71
https://github.com/HongwenZhang/PyMAF/blob/smplx/core/constants.py#L192

[2022-09-12 09:00] HongwenZhang commented on #63
Hi, you may need to check the version of PyTorch or install openpifpaf from the source files.

[2022-09-12 13:20] lllllialois commented on #27
Hi, @HongwenZhang
I want to get the h36m_mosh_train.npz.
Could you please send it to me? My email is  lynndandelion@outlook.com
Thanks a lot!

[2022-09-12 16:59] #64 closed, assigned to nobody

[2022-09-19 02:45] no-Seaweed commented on #27
Hi, @HongwenZhang ,
Thank you for your amazing works. Would you mind to share npy, npz files used in PyMAF that are not publicly available? My email address is shukaif@bu.edu. Thanks in advance.

[2022-09-20 09:15] Celulean commented on #63
Hi, it works when you update your python to 3.8.10

[2022-09-20 09:17] Guanyuansheng commented on #63
ok!&nbsp;Thanks a lot for your answer!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "HongwenZhang/PyMAF"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月20日(星期二) 下午5:15
***@***.***&gt;;
***@***.***

[2022-09-30 17:58] olga-zats commented on #27
@HongwenZhang could you please send me the h36m_mosh_train.npz ?
my email is [zatsarinnayaolga@gmail.com](mailto:zatsarinnayaolga@gmail.com).
Thank you very much!

[2022-10-03 21:15] YsabellaRomero commented on #27
Hello, is it possible for you to send me the h36m_mosh_train.npz as well_
My email is ysabellaromero5@gmail.com
Thanks in advance!

[2022-10-09 11:01] fmx789 opened #66 "Question about regressor's output in each iteration"
Hi, once more thanks for your fantastic work!
I noticed that your method have different regressors for each iteration, and the output from the previous iteration serves as the input to the following regressor. How do you prevent the output of the regressor from diverging (i.e., moving further away from GT)?
According to what I understand, you saved the output of each iteration and then calculating

[2022-10-11 07:05] mohamedabdallah20 commented on #27
Label: https://pan.cstcloud.cn/s/b2wM3nMyQR0 Expires：2022-06-30 23:59:59
Image: https://github.com/geopavlakos/c2f-vol-train/blob/master/data.sh

On Thu, Apr 14, 2022, 11:55 AM agnJason ***@***.***> wrote:

[2022-10-17 18:37] jdavies opened #67 "Index out of range and Cant set Attribute errors close to end of execution."
I got past the J_Regressor issue (thanks to earlier folks that raised that issues and got answers). I'm getting a different error now,  I believe it is close to the end of the execution path. Here is my stack trace:

`[(0) "the person walked forward and is picking up his toolbox." | Rep #0 | -> sample00_rep00.mp4]
MovieWriter ffmpeg unavailable; using Pillow instead.
Traceback (most recent call la

[2022-10-17 18:40] jdavies commented on #67
Oh, and this is on a Windows 10 box using Anaconda 2021_05 (version 4.10.1)  with  Python 3.7.12

[2022-10-19 04:19] HongwenZhang commented on #67
Hi @jdavies, should it be an issue reported in motion-diffusion-model? not PyMAF?

[2022-10-19 04:24] HongwenZhang commented on #66
Hi, as shown in previous work like HMR and SDM, such an iterative update strategy typically converges after training.

[2022-10-19 07:06] cwpeng-cn commented on #27
@mohamedabdallah20 could you please send me the h36m_mosh_train.npz ?
my email is [cw.peng@foxmail.com](mailto:cw.peng@foxmail.com).
Thanks a lot !

[2022-10-19 09:35] fmx789 commented on #66
Thanks for your reply, I got it!

[2022-10-19 09:35] #66 closed, assigned to nobody

[2022-10-19 09:35] fmx789 commented on #66
Thanks for your reply, I got it!

[2022-10-19 14:58] HongwenZhang commented on #27
Hi there, it is just a kind notification that the compatible EFT label files are now available [here](https://cloud.tsinghua.edu.cn/d/635c717375664cd6b3f5), which helps to train a much stronger baseline. See issue https://github.com/HongwenZhang/PyMAF/issues/58 for more training details.

[2022-10-24 09:15] yangyang32111 opened #68 "About pretrained model on coco"
Hi,sorry to bother you,can you  please share the pretrained model which named  'data/pretrained_model/pose_resnet_50_256x192.pth.tar' ? thank you very much!

[2022-10-24 10:32] HongwenZhang commented on #68
Hi, the coco pre-trained model can be downloaded from https://github.com/Microsoft/human-pose-estimation.pytorch.
Please also refer to Issue #58.

[2022-10-24 10:36] yangyang32111 commented on #68
Thanks for your quick reply !
:)

[2022-10-24 19:45] MooreManor opened #69 "Pretrained backbone network setting"
@HongwenZhang
1. In this [issue](https://github.com/HongwenZhang/PyMAF/issues/58), you said that PyMAF followed PARE setting. It seems that PyMAF should use the weights pretrained in mpii to initialize the backbone network for fast convergence. But in the [config file](https://github.com/HongwenZhang/PyMAF/blob/f2ddfea241b6c22ff3596f4fdcd5ad695f3efd6e/configs/pymaf_config.yaml#L53), it doesn't off

[2022-10-25 02:57] HongwenZhang commented on #69
Hi, thanks for your questions.

Note that it is the PyMAF-X version ([pdf](https://arxiv.org/abs/2207.06400)) that followed the PARE setting. The checkpoint in the PyMAF(smpl) branch has not been updated and still follows the SPIN setting.

1. The PARE code used the COCO 2D pose pre-trained backbone, see [here](https://github.com/mkocabas/PARE/blob/6e0caca86c6ab49ff80014b661350958e5b72fd8/pare/mod

[2022-10-25 08:29] MooreManor commented on #69
@HongwenZhang

Thanks for your quick reply!

1. The PARE paper said that they used pretrained weights from mpii. Is the PARE code implementation different from paper setting?
![image](https://user-images.githubusercontent.com/49632327/197722386-5917b12f-7a35-4664-b18b-b511fb7b88de.png)
2. SPIN setting uses h36m to train as the first stage. According to PyMAF docs, PyMAF uses COCO training as the f

[2022-10-25 08:49] HongwenZhang commented on #69
Hi,
1. I am not sure about the actual implementation of PARE. But using MPII and COCO for pretraining may have similar results (simply my thoughts).
2. Sorry about the misleading readme. The README was modified recently from another push request. There may be some conflict descriptions. According to the conference version of PyMAF, we indeed use H36M at the first stage. The original README before

[2022-10-25 08:53] MooreManor commented on #69
Thanks! I'm clear now:)

[2022-10-25 08:55] MooreManor commented on #69
@HongwenZhang Have you compared the results of PyMAF-X on the first stage (i.e. COCO-EFT or h36m)? Is there exist a big difference in the training results?

[2022-10-25 09:00] HongwenZhang commented on #69
I did not check the results of the first stage. The performance gap should be significant if the evaluation dataset is 3DPW.

[2022-10-25 10:51] #69 closed, assigned to nobody

[2022-10-25 17:40] huanngzh opened #70 "How to get the position of SMPLX 3d joints by PyMAF-X"
Thank you very much for your amazing work. I would like to ask a question about how to get the position of SMPLX 3d joints by PyMAF-X.

The output of PyMAF-X includes `smplx_verts`, `pose`, `betas`, `joints3d`, `smplx_params` and so on. But I found that the `joints3d` is inconsistent with SMPLX joints definition. Maybe I can align it to SMPLX joints? I haven't got the idea.I tried to build smplx m

[2022-10-27 12:10] tanishq-1011 opened #71 "Obtain 2d Joint location and vertices"
Hello,
I am trying to get the coordinates of the 2d-joints of the body. Can you kindly tell me, how can I obtain that? Also, can you the serial number according to the body parts? (for eg. 1 - left eye   2 - right eye  3- nose  etc)

[2022-10-28 02:12] yangyang32111 commented on #68
Sorry to bother you again, I have a question that when using new training strategy (coco-eft) the smpl model is the same as before in pymaf(using human first) ?  Because I found that PARE's SMPL model seems a bit different.

[2022-11-02 15:57] MooreManor opened #72 "Question about loss weight in PyMAF"
[DELETED]

[2022-11-02 18:45] #72 closed, assigned to nobody

[2022-11-03 02:45] txytju commented on #27
Hello, is it possible for you to send me the h36m_mosh_train.npz as well_
My email is [tianxingyetju@gmail.com](mailto:tianxingyetju@gmail.com)
Thanks in advance!

[2022-11-03 06:32] surheaven opened #73 "Questions about the output results of the same input with different resolutions"
Hi, if I input the same video with different resolution, what will be the change of shape, pose, and trans in the output result?
Now I have a video(1920，1080) and I downsample it to get a video(960，540), will the shape, pose, and trans change (to 1/2 of the original) ?

[2022-11-03 12:55] tanishq-1011 commented on #71
https://github.com/HongwenZhang/PyMAF/issues/42

[2022-11-03 12:55] #71 closed, assigned to nobody

[2022-11-04 01:12] mashreve commented on #56
@tommycwh Would you mind sharing an example PyTorch3D script for rendering a SMPL mesh ? I am assuming you can do this with any SMPL model? Thank you.

[2022-11-16 03:41] sylyt62 opened #74 "Is it able to achieve real-time speed?"
Is seems like this architecture is designed more based on images, but just wondering, if it is possible to do inference in real time? How about get rid of visualization?

[2022-11-20 12:05] tkmoon555 commented on #27
Hello. Could you please send me h36m_mosh_train.npz as well?
My email adress is  tkmappoded@gmail.com.
Thank you very much!

[2022-11-21 02:24] StancyMiller commented on #51
@HongwenZhang
Thanks for your excellent work,and Could you also send me the files "final_fits/h36m.npy" and "static_fits/h36m.npy"  to the following e-mail ? Thanks again!
2365366022@qq.com

[2022-11-23 12:11] angelisgiorgos commented on #27
Hi, can you send me please send me the *.npz files ?
my email is georange7@gmail.com

Thanks.

[2022-11-28 10:34] youwh-PIRI commented on #27
Hello, is it possible for you to send me the h36m_mosh_train.npz as well_
My email is [2705837989@qq.com])
Thanks in advance!

[2022-11-28 15:09] LeoJoy39 commented on #27
Hello, thanks for your great work!
Could you please send me the h36m_mosh_train.npz?
My email is 1109423637@qq.com.
Thanks a lot.